.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    position: relative;
}

.circle {
    width: 50px;
    height: 50px;
    border: 3px solid;
    border-radius: 50%;
    position: absolute;
    animation: circle-animation 1.5s ease-in-out infinite;
}

.circle1 {
    border-color: var(--color-loader1);
}

.circle2 {
    border-color: var(--color-loader2);
    animation-delay: -0.5s;
}

.circle3 {
    border-color: var(--color-loader3);
    animation-delay: -0.7s;
}

@keyframes circle-animation {

    0%,
    100% {
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }

    25% {
        transform: scale(1.2) translateX(-20px) translateY(-20px);
        opacity: 1;
    }

    50% {
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }

    75% {
        transform: scale(1.2) translateX(20px) translateY(20px);
        opacity: 0.8;
    }
}