/* burger */
.burgerContainer {
    display: none;
}

.burgerButton {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0;
}

.burgerButton span {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 4px 0;
    transition: 0.4s;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.burgerButton:hover span {
    background-color: var(--status-color);
}

.burgerButton:active span {
    transform: scale(0.4);
}

.burgerButton.active .line1 {
    transform: rotate(45deg) translate(5px, 6px);
}

.burgerButton.active .line2 {
    opacity: 0;
}

.burgerButton.active .line3 {
    transform: rotate(-45deg) translate(5px, -6px);
}

.burgerMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 14px;
    background-color: var(--white);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    z-index: 20;
}

.burgerMenu.show {
    display: flex;
}

@media (max-width: 768px) {
    .burgerContainer {
        display: flex;
    }

    .nav {
        display: none;
    }
}

.header {
    padding: 1rem 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
} 

.homePageHeader {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.centered {
    margin-right: auto;
}

.logo {
    font-size: 2rem;
}

.homePageLogo {
    font-size: 4rem;
    padding-right: 20px;
}


nav {
    display: flex;
    gap: 1.5rem;
}


