.header {
    padding: 1rem 3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
} 

.homePageHeader {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.centered {
    margin-right: auto;
}

.logo {
    font-size: 2rem;
}

.homePageLogo {
    font-size: 4rem;
    padding-right: 20px;
}

.homePageLink {
   font-size: 3rem !important;
}

.homePageLink:hover {
    color: var(--status-color);
}

.homePageLink::after {
    background-color: var(--status-color);
}

nav {
    display: flex;
    gap: 1.5rem;
}

.link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--status-color);
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.link:hover {
    color: var(--status-color);
}

.link:hover::after {
    width: 100%;
}

.active {
    color: var(--status-color);
}

.active::after {
    width: 100%;
}