:root {
    --primary-color: #f2f4f7;
    --bg-primery-color: #F7F7F7;
    --secondary-color: #475467;
    --text-color: #101828;
    --primery-accent-color: #E44848;
    --status-color: #FFC531;
    --secondary-accent-color: #D84343;
    --white: #ffffff;
    --scroll-color: #D9D9D9

}