.container {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}

.searchBar {
    flex: 1;
}

.content {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.carList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}