.containerInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.titleInfo {
    margin-bottom: 10px;
}

.ratingInfo {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 16px;
    margin-bottom: 16px;
}

.price {
   margin-bottom: 24px;
}

.rating {
    display: flex;
    align-items: center;
}

.underlined{
    text-decoration: underline;
}


.iconRating {
    width: 20px;
    height: 20px;
    fill: var(--status-color);
}

.iconLocation {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: var(--text-color);
}

.containerWrapp {
    margin-bottom: 24px;
}

.listModalimg {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.itemImg {
    width: 290px;
    height: 310px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 24px;
    border-radius: 10px;
}

.description {
    width: 902px;
    color: rgba(18, 24, 36, 0.6);
    margin-bottom: 24px;
    text-align: left;
}