.catalogList {
    margin: 0 auto;
    height: 100vh;
    padding: 34px;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.catalogList.loading {
    opacity: 0.5;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 24px;
    color: #888;
}