
.customScrollWrapper {
    max-height: 300px;
}

.customScrollWrapper .simplebar-scrollbar::before {
    background-color: var(#475467);
}

.customScrollWrapper .simplebar-track {
    background-color: var(--scroll-color);
    border-radius: 7px;
}