.featuresList {
    max-width: 430px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;  
    margin-bottom: 25px;
}

.featureItem {
    max-width: 100%;
    height: auto;
}

.strokeStyle {
    fill: var(--text-color);
}

.fillStyle {
    stroke: var(--text-color);
    fill: transparent;
}

.containerIconGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 4px;
    padding: 12px 18px;
    background-color: var(--primary-color);
    border-radius: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleVehicle {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    position: relative;
    margin-bottom: 48px;
}

.titleVehicle::after {
    content: "";
    display: block;
    width: 430px;
    height: 2px;
    border: 1px solid rgba(16, 24, 40, 0.1);
    position: absolute;
    bottom: -24px;
    left: 0;
}

.detailsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 430px;
}

.detailsItem {
    display: flex;
    justify-content: space-between;
}

.detailsText {
    font-weight: 500;
    line-height: 1.3;
}