.textError {
    font-size: 24px;
    font-weight: 600;
    color: var(--primery-accent-color);
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}